alembic
aniso8601
blinker
certifi
charset-normalizer
click
distlib
Faker
filelock
flask
Flask-Migrate
Flask-RESTful
flask-sqlalchemy
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pipenv
platformdirs
python-dateutil
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing-extensions
urllib3
virtualenv
werkzeug
zipp
